<header class='header flex'>
  <nav class='nav'>
    <h1><span id="code">CODE</span><span id="dium">DIUM</span></h1>
    <ul class='nav_links-container flex'>
      <li><a href='#home'>HOME</a></li>
      <li><a href='#dashboard'>DASHBOARD</a></li>
      <li><a href='#login'>LOGIN</a></li>
    </ul>
  </nav>
</header>