<div class='login-sign-up-container flex'>
  <div class='login-container'>
    <h2>Login</h2>
    <form class='form-login'>
      <div class='form-group'>
        <label for='username'>Username: </label>
        <input type='text' name='username' id='username' />
        <label for='password'>Password: </label>
        <input type='password' name='password' id='password' />
      </div>
      <div class='form-button flex'>
        <button class='login-btn primary-button' type='submit'>Login</button>
      </div>
    </form>
  </div>

  <div class='sign-up-container'>
    <h2>Sign Up</h2>
    <form class='form-sign-up'>
      <div class='form-group'>
        <label for='username'>Username: </label>
        <input type='text' name='username' id='username-sign-up' />
        <label for='password'>Password: </label>
        <input type='password' name='password' id='password-sign-up' />
      </div>
      <div class='form-button flex'>
        <button class='sign-up-btn primary-button' type='submit'>Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>