/* root */
:root {
  font-size: 62.5%; /* Now 1rem = 10px */

  --bg-color: #0d1b2a;
  --font-color: #e0e1dd;
  --primary-color: #778da9;
  --secondary-color: #1b263b;
  --tertiary-color: #415a77;
  --dark-shade: #000000;
}

/* body */
body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--bg-color);
}

/* Headings */
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}

/* Paragraphs & Lists */
p {
  font-size: 2rem;
  color: var(--font-color);
}

li {
  font-size: 2.8rem;
}

a {
  color: var(--font-color);
}

a:active {
  color: inherit;
}

/* Smaller text */
small {
  font-size: 1.4rem;
}

.page-container {
  min-height: 100vh;
}

.flex {
  display: flex;
}

/* Navigation.handlebars */
.header {
  background-color: var(--secondary-color);
}

.nav {
  margin: 0 auto;
  width: 90%;
}

#code {
  color: var(--primary-color);
}

#dium {
  color: var(--dark-shade);
}

.nav_links-container li {
  padding: 1rem 0rem;
}

.nav_links-container li:nth-child(-n + 2) {
  margin-right: 2rem;
}
