/* root */
:root {
  font-size: 62.5%; /* Now 1rem = 10px */

  --bg-color: #0d1b2a;
  --font-color: #e0e1dd;
  --primary-color: #778da9;
  --secondary-color: #1b263b;
  --tertiary-color: #415a77;
  --dark-shade: #000000;
}

.page-container {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

/* body */
body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--bg-color);
}

/* Headings */
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.2rem;
  color: var(--font-color);
}
h3 {
  font-size: 2.8rem;
}

/* Paragraphs & Lists */
p {
  font-size: 2rem;
  color: var(--font-color);
}

small {
  font-size: 1.6rem;
  color: var(--font-color);
}

li {
  font-size: 2.8rem;
  color: var(--font-color);
}

label {
  font-size: 2rem;
  color: var(--font-color);
}

input {
  font-size: 2rem;
}

a:hover {
  color: var(--primary-color);
}

a {
  color: var(--font-color);
}

a:active {
  color: inherit;
}

/* Smaller text */
small {
  font-size: 1.4rem;
}

hr {
  border-bottom: 1px solid var(--secondary-color);
}

/* Primary Button Styles */
.primary-button {
  font-size: 2rem;
  padding: 0.3rem 1.4rem;
  cursor: pointer;
}

.flex {
  display: flex;
}

/* Show | Hide Elements */
.hide {
  display: none;
}
.show {
  display: block;
}

/* Navigation.handlebars */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
}

.nav {
  margin: 0 auto;
  width: 90%;
}

#code {
  color: var(--primary-color);
}

#dium {
  color: var(--dark-shade);
}

.nav_links-container li {
  padding: 1rem 0rem;
}

.nav_links-container li:nth-child(-n + 3) {
  margin-right: 2rem;
}

/* Homepage */
.main {
  margin-top: 200px;
  height: 100%;
  flex-direction: column;
}

.blog {
  margin: 0 auto 4rem;
  width: 50%;
}

.blog_title {
  justify-content: space-between;
  align-items: baseline;
}

.blog_author > :first-child {
  margin-right: 1rem;
}

/* Login.handlebars */
.login-sign-up-container {
  flex-direction: column;
}

.login-container {
  margin-bottom: 2rem;
}

.login-container,
.sign-up-container {
  background-color: var(--secondary-color);
  padding: 2rem;
}

.login-container h2,
.sign-up-container h2 {
  padding-bottom: 1rem;
}

.form-login input[type='text'] {
  margin-right: 1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-button {
  justify-content: center;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
}
